// font-family
$font-family: "Nunito", sans-serif;
// color
$color-primary: #e8b717;

body {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 600;
  background-color:#262626;
  color: #fff;
}

.wrapper {
  min-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  min-width: 1440px;
  margin: 0 auto;
}
.text-name {
  font-weight: 700;
  font-size: 80px;
}
.name-color {
  color: $color-primary;
  text-decoration: underline wavy #cdc;
}
.text-sm {
  font-size: 16px;
  font-weight: 400;
}
.text-lg {
  font-size: 40px;
  font-weight: 400;
}
.rounded-sm{
  border-radius: 5px;
}
.rounded-circle{
  border-radius: 100%;
}
.rounded-lg{
  border-radius: 15px;
}

/* Keyframes Animation */
@keyframes scrolling {
  0% {
    top: 17%;
  }

  100% {
    top: 30%;
  }
}
