@use "./variables"as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

html {
  font-size       : 62.5%; // fs-10px
  background-color: $bg-color-primary;
  scroll-behavior : smooth;
}

// font-size
.fs-1 {
  font-size: 3.5rem;
}

.fs-2 {
  font-size: 3rem;
}

.fs-3 {
  font-size: 2.5rem;
}

.fs-4 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 1.5rem;
}

.fs-6 {
  font-size: 1rem;
}

// padding
.p-1 {
  padding: 2.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: .5rem;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  color      : $text-color;
  overflow-x : hidden;
}

.container {
  max-width: 1140px;
  margin   : 0 auto;
}

.container-fluid {
  max-width: 1440px;
  margin   : 0 auto;
}

.text-name {
  font-weight: 700;
  font-size  : 7rem;
}

.name-color {
  text-decoration: underline wavy #cdc;
}

.text-lg {
  font-size  : 3rem;
  font-weight: 400;
}

.rounded-sm {
  border-radius: 0.3rem;
}

.rounded-circle {
  border-radius: 100%;
}

.rounded-lg {
  border-radius: 1rem;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.btn {
  display      : inline-flex;
  align-items  : center;
  padding      : 1.8rem 3.2rem;
  font-size    : 1.8rem;
  border-radius: 5px;
  cursor       : pointer;
  outline      : none;
  border       : none;

}

.btn-outline {
  background-color: transparent;
  border          : 1px solid currentColor;
}

.btn-outline:hover {
  background-color: $text-color;
  color           : $bg-color-primary;
  box-shadow      : 0 0 10px rgba($color: #333, $alpha: .2);
  transition      : all .2s linear;
}