// font-family
$font-family: "Nunito",
sans-serif;
// color
$color-primary   : #f7a306;
$bg-color-primary: #eaedef;


$text-color : #000;
$color-black:#000;
$color-white:#fafafa;
$color-js   :#f1e05a;
$color-scss :#c6538c;
$color-html :#e34c25;
$color-css  :#563d7c;
$color-bootstrap:#7325f6;