@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
html {
  font-size: 62.5%;
  background-color: #eaedef;
  scroll-behavior: smooth;
}

.fs-1 {
  font-size: 3.5rem;
}

.fs-2 {
  font-size: 3rem;
}

.fs-3 {
  font-size: 2.5rem;
}

.fs-4 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 1.5rem;
}

.fs-6 {
  font-size: 1rem;
}

.p-1 {
  padding: 2.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 0.5rem;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}

.text-name {
  font-weight: 700;
  font-size: 5rem;
}

.name-color {
  text-decoration: underline wavy #cdc;
}

.text-lg {
  font-size: 3rem;
  font-weight: 400;
}

.rounded-sm {
  border-radius: 0.3rem;
}

.rounded-circle {
  border-radius: 100%;
}

.rounded-lg {
  border-radius: 1rem;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 1.8rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid currentColor;
  transition: all 0.2s linear;
}

.btn-outline:hover {
  background-color: #000;
  color: #eaedef;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
  transition: all 0.2s linear;
}

.btn-primary {
  background-color: #000;
  color: #fafafa;
  transition: all 0.2s linear;
}

.btn-primary:hover {
  box-shadow: 0 10px 10px rgba(51, 51, 51, 0.4);
  transform: translateY(-0.5rem);
  transition: all 0.2s linear;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ---------------------About Header-----------------------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.header__logo {
  width: 100%;
  height: 5vh;
}
.header__menu-info {
  font-size: 1.7rem;
  text-decoration: underline;
  letter-spacing: 0.2px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.header__menu-info:hover {
  background-color: #000;
  color: #fafafa;
  transition: all 0.2s ease;
}
.header__menu-block {
  position: fixed;
  width: 100%;
  top: -100%;
  height: 100%;
  z-index: 9999;
  right: 0;
  transition: all 500ms linear;
  background-color: #fafafa;
  padding-top: 2rem;
}
.header__menu-block.active {
  top: 0;
  transition: all 500ms linear;
}
.header__menu-block.active .text-intro {
  opacity: 1;
  top: 0%;
  transition: all 0.5s linear 0.5s;
}
.header__menu-block.active .text-personal {
  opacity: 1;
  right: 0;
  transition: all 0.5s linear 0.7s;
}
.header__menu-block.active .header__menu-content img {
  visibility: visible;
}
.header__menu-block.active .contact-info {
  top: 100%;
  bottom: 0;
  opacity: 1;
  transition: all 0.5s linear 1s;
}
.header__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.header__menu-close {
  font-size: 1.7rem;
  text-decoration: underline;
  letter-spacing: 0.2px;
  cursor: pointer;
}
.header__menu-close:hover {
  opacity: 0.8;
}
.header__menu-content {
  position: relative;
  display: grid;
  place-items: center;
  height: 80vh;
}
.header__menu-content img {
  width: 500px;
  mix-blend-mode: multiply;
  filter: grayscale(1);
  object-fit: contain;
  transition: all 0.2s ease;
  margin: 50px 50px 100px 50px;
  visibility: hidden;
}
.header__menu-content img:hover {
  filter: grayscale(0);
  mix-blend-mode: unset;
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.header__menu-content .text-intro {
  position: absolute;
  text-align: center;
  top: -100%;
  transition: all 0.2s linear;
  opacity: 0;
}
.header__menu-content .text-intro p {
  font-size: 8rem;
  text-transform: capitalize;
}
.header__menu-content .text-personal {
  position: absolute;
  top: 50%;
  right: -100%;
  opacity: 0;
  transition: all 0.2s linear;
}
.header__menu-content .text-personal p {
  font-size: 3rem;
}
.header__menu-content .contact-info {
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  display: flex;
  transition: all 0.2s linear;
  align-items: center;
}
.header__menu-content .contact-info i.bx.bx-right-arrow-alt {
  font-size: 5rem;
  margin-right: 1rem;
}
.header__menu-content .contact-details a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
.header__menu-content .contact-details a:hover {
  opacity: 0.5;
}

/* overlay*/
.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: #eaedef;
}
.overlay img {
  position: relative;
  width: 15rem;
}
.overlay-loading {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.overlay-loading::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: #000;
  border-radius: 50%;
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .text-intro p {
    font-size: 6rem !important;
  }
}
@media screen and (max-width: 768px) {
  .text-intro p {
    font-size: 4rem !important;
  }

  .header__menu-content {
    height: 50vh;
    margin-top: 80px;
  }
  .header__menu-content img {
    width: 300px;
    margin: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 425px) {
  .text-intro p {
    font-size: 3rem !important;
  }
}
.main {
  /* section myself*/
  /* section project*/
}
.main__myself {
  background-color: #eaedef;
  position: relative;
}
.main__myself-container {
  display: flex;
  align-items: center;
  padding: 15rem 4rem 25rem 4rem;
}
.main__myself-intro {
  position: relative;
  max-width: 60rem;
  width: 100%;
  margin-right: 5rem;
}
.main__myself-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.main__myself-img img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.main .contact-block {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0 3rem;
  font-size: 3rem;
}
.main .contact-block a {
  color: #000;
}
.main__project {
  padding-bottom: 5rem;
  position: relative;
}
.main__project-title {
  text-align: center;
  padding-bottom: 5rem;
  position: relative;
  text-transform: capitalize;
  font-size: 5rem;
  margin: 0 auto;
}
.main__project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
}
.main__project-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 16px rgba(51, 51, 51, 0.2);
}
.main__project-card--header img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}
.main__project-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 16px rgba(51, 51, 51, 0.4);
  transition: all 0.2s ease;
}
.main__project-tag {
  display: inline-block;
  padding: 0 16px;
  position: relative;
  font-weight: 700;
  border-radius: 0.2rem;
  filter: brightness(90%);
}

.tag-js {
  position: relative;
  background-color: rgba(241, 224, 90, 0.2);
  color: #f1e05a;
}

.tag-scss {
  color: #c6538c;
  background-color: rgba(198, 83, 140, 0.2);
}

.tag-html {
  color: #e34c25;
  background-color: rgba(227, 76, 37, 0.2);
}

.tag-css {
  color: #563d7c;
  background-color: rgba(86, 61, 124, 0.2);
}

.tag-bootstrap {
  color: #7325f6;
  background-color: rgba(115, 37, 246, 0.2);
}

.social__block {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.social__block-item {
  transition: all 0.2s linear;
}
.social__block-item:hover {
  transform: translateY(-5px);
  transition: transform 0.2s linear;
}

.footer {
  background-color: #fafafa;
  margin-top: 70px;
}

.copywrite {
  padding: 5rem 0;
}
.copywrite p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.copywrite p img {
  margin: 0 0.5rem;
}

.contact-working {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-working-details {
  padding-top: 50px;
  text-align: center;
}
.contact-working-details h1 {
  font-size: 5rem;
}
.contact-working-details a {
  font-size: 8rem;
  color: #000;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact-working-details a:hover {
  opacity: 0.5;
  transition: all 0.2s linear;
}
.contact-working-details p {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .main__myself-container {
    flex-direction: column;
  }
  .main__myself-intro {
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .main__project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  }

  .contact-working-details a {
    font-size: 7rem;
  }
}
@media screen and (max-width: 425px) {
  .main__myself-container {
    padding: 15rem 4rem 10rem 4rem;
  }
  .main__myself-intro {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .main__project-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 2rem;
  }

  .text-name {
    font-size: 4rem;
  }

  .text-lg {
    font-size: 2rem;
  }

  .contact-working-details h1 {
    font-size: 2.5rem;
  }
  .contact-working-details a {
    font-size: 4rem;
  }
  .contact-working-details p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .text-name {
    font-size: 3.5rem;
  }

  .btn {
    padding: 2rem 1rem;
  }

  .contact-working-details h1 {
    font-size: 2rem;
  }
  .contact-working-details a {
    font-size: 3rem;
  }
  .contact-working-details p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .text-name {
    font-size: 3rem;
  }

  .main__project-title {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
